OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=

SERPER_API_KEY=
JINA_API_KEY=

TOKENIZER_DIR="./tokenizer"

# Parallelizes as much as possible, including LLM calls.
# Set to false to maintain stability, or set to true to perform LLM calls in parallel,
# but make sure the upstream provider won't rate limit you.
PARALLEL_MODE=False

AGNO_DEBUG=True
LOGGING_LEVEL=DEBUG
