QDRANT_URL="http://qdrant:6333"

INGEST_DIR="/app/ingest_docs"

DENSE_EMBEDDING_MODEL="BAAI/bge-large-en-v1.5"
DENSE_EMBEDDING_SIZE="1024"

SPARSE_EMBEDDING_MODEL="Qdrant/bm25"

MODELS_DIR="/app/models"
FASTEMBED_CACHE_PATH=${MODELS_DIR}

CHUNK_LABELLER_MODEL_BASE_URL="https://openrouter.ai/api/v1"
CHUNK_LABELLER_MODEL_API_KEY=""
CHUNK_LABELLER_MODEL="qwen/qwen3.5-9b"
ENABLE_DYNAMIC_CHUNK_LABELLING=true

QDRANT_COLLECTION_NAME="internal_docs"

LOGGING_LEVEL=DEBUG
